/*-------------------------------------------------------------header*/
#header {
	width: 100%;
	height: 350px;
	background: url("../imgs/replace.jpg") 50% 0px no-repeat fixed;
	color: white;
}

#header-content {
	margin-top: 30px;
}

#intro {
	margin-bottom: 20px;
}

#intro h1 {
	font-weight: 700;
	font-size: 64px;
}

#intro h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

#social {
	font-size: 65px;
}

#git, #linked, #twat {
	color: white;
	cursor: pointer;
	transition: color .15s ease-in-out;
}

#git:hover {
	color: rgb(50,98,172);
}

#linked:hover {
	color: #4875B4;
}

#twat:hover {
	color: rgb(75,152,241);
}

/*---------------------------------------------------------page body */

/*-------------------------------------------------misc*/

.section-divider {
	margin-top: 40px;
}

.subject h1 {
	/*color: #0066CC;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 0;
}

.subhead {
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 60px;
}

/*-------------------------------------------------about */
#page-info {
	margin-top: 30px;
}


#info-text p {
	font-size: 18px;
}

/*---------------------------------------------me things*/

#me-things {
	color: white;
}

#me-things a {
	color: white;
	text-decoration: none;
}

#me-1, #me-2, #me-3, #me-4 {
	visibility: hidden;
	position: relative;

}

#pic {
	margin-top: 70px;
}

#me-1-head, #me-2-head, #me-3-head {
	visibility: hidden;
	font-size: 22px;
	z-index: 100;
	position: absolute;
	padding-left:15px;
	padding-right: 10px;
	top: 0;
}


#me-1-text, #me-2-text, #me-3-text {
	visibility: hidden;
	font-size: 16px;
	z-index: 100;
	position: absolute;
	padding-left:15px;
	padding-right: 20px;
	top: 80px;
}

#me-1-dark, #me-2-dark, #me-3-dark {
	visibility: hidden;
	z-index: 50;
	position: absolute;
	background: rgba(0,0,0,0.5);
	height: 100%;
	top: 0px;
}

/*------------------------------------------------projects*/

#project-section {
	visibility: visible;
}

.project {
	margin-bottom: 50px;
}

.tab-pane h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 50px;
	color: rgb(90,90,90);
}

h2 .text-muted {
	font-size: 40px;
}

.tab-pane p {
	font-size: 18px;
	color: rgb(90,90,90);
	font-weight: 300;
}

.tab-pane .text-muted {
	font-size: 30px;
}

/*-------------books*/

.books {
	margin-bottom: 30px;
}


/*-------------------------------------------------------------footer*/

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
	height: 200px;
}


/*--------------------------------------------------------media query*/


@media (max-width: 840px) {
	#pic {
		text-align: center;
	}	
}

/*phones */
@media (max-width: 480px){
	#intro h1 {
		font-size: 50px;
	}

	#header {
		height: 400px;
	}

	#me-1, #me-2, #me-3, #me-4 {
		margin-bottom: 10px;
	}

}

