/*-------------------------------------------------------------header*/

/*new*/
#title h1{
	font-family: 'Lobster', cursive;
	font-size: 100px;
}

#sub-title h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
}

#bar {
	background-color: #1b476d;
	height: 30px;
}

.triangles {
	position: relative;
}

#left-triangle {
	position: absolute;
	left: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #172a3a transparent transparent;
}

#right-triangle {
	position: absolute;
	right:-20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: #172a3a transparent transparent transparent;
}

#left-square {
	position: absolute;
	left:-20px;
	top: -30px;
	background-color: #1b476d;
	width: 20px;
	height: 30px;
}

#right-square {
	position: absolute;
	right:-20px;
	top: -30px;
	background-color: #1b476d;
	width: 20px;
	height: 30px;
}


#social {
	font-size: 50px;
}

#git, #linked, #twat {
	color: grey;
	cursor: pointer;
	transition: opacity .15s ease-in-out;
}


#git {
	color: rgb(50,98,172);
}

#git:hover {
	opacity: 0.5;
}

#linked {
	color: #4875B4;
}
#linked:hover {
	opacity: 0.5;
}

#twat {
	color: rgb(75,152,241);
}

#twat:hover {
	opacity: 0.5;
}

/*---------------------------------------------------------page body */

/*-------------------------------------------------misc*/
#page-body {
	box-shadow: 0px 0 20px rgba(0,0,0,0.3);
}

.section-divider {
	margin-top: 40px;
}

.subject h1 {
	/*color: #0066CC;*/
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-family: 'Open Sans'*/

	font-weight: 700;
	font-size: 45px;
	margin-top: 30px;
	margin-bottom: 0;
}

.subhead {
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 60px;
}

/*-------------------------------------------------about */
#page-info {
	margin-top: 30px;
}

#info-text h2 {
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 600;
	font-size: 28px;
}


#info-text p {
	/*font-family: 'Open Sans', sans-serif;*/
	color: rgb(75,75,75);
	font-size: 18px;
	font-weight: 300;
}


/*---------------------------------------------me things*/

#me-things {
	color: white;
}

#me-things a {
	color: white;
	text-decoration: none;
}

#me-1, #me-2, #me-3, #me-4 {
	visibility: hidden;
	position: relative;

}


#me-1-head, #me-2-head, #me-3-head {
	visibility: hidden;
	font-size: 22px;
	z-index: 100;
	position: absolute;
	padding-left:15px;
	padding-right: 10px;
	top: 0;
}


#me-1-text, #me-2-text, #me-3-text {
	visibility: hidden;
	font-size: 16px;
	z-index: 100;
	position: absolute;
	padding-left:15px;
	padding-right: 20px;
	top: 80px;
}

#me-1-dark, #me-2-dark, #me-3-dark {
	visibility: hidden;
	z-index: 50;
	position: absolute;
	background: rgba(0,0,0,0.5);
	height: 100%;
	top: 0px;
}

/*------------------------------------------------projects*/

#project-section {
	visibility: visible;
}

.project {
	margin-bottom: 50px;
}

.tab-pane h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 50px;
	color: rgb(90,90,90);
}

h2 .text-muted {
	font-size: 40px;
}

.tab-pane p {
	font-size: 18px;
	color: rgb(90,90,90);
	font-weight: 300;
}

.tab-pane .text-muted {
	font-size: 30px;
}

/*-------------books*/

.books {
	margin-bottom: 30px;
}


/*-------------------------------------------------------------footer*/

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
/*	height: 200px;*/
}


/*--------------------------------------------------------media query*/


@media (max-width: 840px) {
	#pic {
		text-align: center;
	}	
	
	#right-triangle, #right-square{
		display: none;
	}
}

/*phones */
@media (max-width: 480px){
	#title h1 {
		font-size: 70px;
	}
}

